# Reads Netherlands vehicle owner data base
[opendata.rdw.nl](https://opendata.rdw.nl/Voertuigen/Open-Data-RDW-Gekentekende_voertuigen/m9d7-ebf2)

In [27]:
import requests
import json
import pandas as pd
size= 5000#max 500
cursor = 0
df = pd.DataFrame()
count =0
while count<5:
#while True:
    count = count+1
    url=f"https://opendata.rdw.nl/resource/m9d7-ebf2.json?$limit={size}&$offset={cursor}"
    response = requests.get(url)
    resp = response.json()
    items = pd.DataFrame(resp)
    df = df.append(items)
    print(f"offset: {cursor}\t, size: {size}\t, count:{count}")
    cursor += size
    if len(resp)==0:
        break

df.head()

offset: 0	, size: 5000	, count:1
offset: 5000	, size: 5000	, count:2
offset: 10000	, size: 5000	, count:3
offset: 15000	, size: 5000	, count:4
offset: 20000	, size: 5000	, count:5

,kenteken,voertuigsoort,merk,handelsbenaming,vervaldatum_apk,datum_tenaamstelling,bruto_bpm,inrichting,aantal_zitplaatsen,eerste_kleur,...,vermogen_brom_snorfiets,europese_voertuigcategorie_toevoeging,europese_uitvoeringcategorie_toevoeging,aanhangwagen_middenas_geremd,aanhangwagen_autonoom_geremd,vervaldatum_tachograaf,type_gasinstallatie,oplegger_geremd,aantal_staanplaatsen,afwijkende_maximum_snelheid
0,L291BZ,Personenauto,MERCEDES-BENZ,CLA 180,20230420,20210416,469,sedan,5,GRIJS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,12SXKL,Personenauto,TOYOTA,TOYOTA COROLLA,20220301,20160315,4907,hatchback,5,ZWART,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,XVRL78,Personenauto,VOLKSWAGEN,GOLF,20220529,20120516,5115,hatchback,5,BLAUW,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,83NSH1,Personenauto,PEUGEOT,207,20221104,20200110,2959,hatchback,5,GRIJS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,WZ76JZ,Aanhangwagen,SARIS,H,NaN,20191207,NaN,open wagen,NaN,N.v.t.,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [28]:
df.rename(columns={'kenteken': 'plate'}, inplace=True)
df.rename(columns={'merk': 'make'}, inplace=True)
df.rename(columns={'handelsbenaming': 'model'}, inplace=True)

df.rename(columns={'lengte': 'length'}, inplace=True)
df.rename(columns={'breedte': 'width'}, inplace=True)
df.rename(columns={'inrichting': 'type'}, inplace=True)
df.rename(columns={'voertuigsoort': 'kind'}, inplace=True)
df.rename(columns={'bruto_bpm': 'max_load'}, inplace=True)


df.drop(['datum_tenaamstelling','vervaldatum_apk','eerste_kleur','tweede_kleur',
         'aantal_cilinders','massa_ledig_voertuig','toegestane_maximum_massa_voertuig',
         'massa_rijklaar','datum_eerste_toelating','datum_eerste_afgifte_nederland','wacht_op_keuren',
         'wam_verzekerd','laadvermogen','aantal_wielen','aantal_zitplaatsen','cilinderinhoud',
         'zuinigheidslabel','catalogusprijs','aantal_deuren','afstand_hart_koppeling_tot_achterzijde_voertuig',
         'afstand_voorzijde_voertuig_tot_hart_koppeling','maximum_massa_trekken_ongeremd',
         'aanhangwagen_autonoom_geremd','aanhangwagen_middenas_geremd','europese_voertuigcategorie',
         'technische_max_massa_voertuig','maximum_trekken_massa_geremd','plaats_chassisnummer','typegoedkeuringsnummer',
         'variant','uitvoering','volgnummer_wijziging_eu_typegoedkeuring','vermogen_massarijklaar','wielbasis',
         'export_indicator','openstaande_terugroepactie_indicator','taxi_indicator','maximum_massa_samenstelling',
         'aantal_rolstoelplaatsen','jaar_laatste_registratie_tellerstand','tellerstandoordeel',
         'code_toelichting_tellerstandoordeel','tenaamstellen_mogelijk','api_gekentekende_voertuigen_assen',
         'api_gekentekende_voertuigen_brandstof','api_gekentekende_voertuigen_carrosserie',
         'api_gekentekende_voertuigen_carrosserie_specifiek','api_gekentekende_voertuigen_voertuigklasse',
         'maximale_constructiesnelheid_brom_snorfiets','vermogen_brom_snorfiets','europese_voertuigcategorie_toevoeging',
         'europese_uitvoeringcategorie_toevoeging','type_gasinstallatie','oplegger_geremd','vervaldatum_tachograaf'
         ,'aantal_staanplaatsen'
         
         ], axis=1, inplace=True)

#df.rename(columns={'maximum_ondersteunende_snelheid': 'beep'}, inplace=True)
#df.rename(columns={'afwijkende_maximum_snelheid': 'tuut'}, inplace=True)

for col in df.columns:
    print(col)
df.head(20)

plate
kind
make
model
max_load
type
length
width
type
maximum_ondersteunende_snelheid
afwijkende_maximum_snelheid

,plate,kind,make,model,max_load,type,length,width,type,maximum_ondersteunende_snelheid,afwijkende_maximum_snelheid
0,L291BZ,Personenauto,MERCEDES-BENZ,CLA 180,469,sedan,0,178,245 G,0,NaN
1,12SXKL,Personenauto,TOYOTA,TOYOTA COROLLA,4907,hatchback,0,0,NaN,NaN,NaN
2,XVRL78,Personenauto,VOLKSWAGEN,GOLF,5115,hatchback,0,0,NaN,NaN,NaN
3,83NSH1,Personenauto,PEUGEOT,207,2959,hatchback,403,0,W*****,NaN,NaN
4,WZ76JZ,Aanhangwagen,SARIS,H,NaN,open wagen,0,159,NaN,NaN,NaN
5,N267FR,Personenauto,FORD,PUMA,4070,MPV,421,181,J2K,0,NaN
6,39NFN1,Personenauto,OPEL,CORSA,2307,MPV,0,0,S-D,NaN,NaN
7,71SLRN,Personenauto,MERCEDES-BENZ,SLK 200 KOMPRESSOR,13030,cabriolet,0,0,171,NaN,NaN
8,DZP23B,Bromfiets,AGM,VX 50,NaN,N.v.t.,182,69,ZNAU50,0,NaN
9,DLJ76X,Bromfiets,STROMER,N/A,NaN,N.v.t.,0,0,ST2,45,NaN
10,21FXG6,Bromfiets,PEUGEOT,GL 10,NaN,N.v.t.,0,0,NaN,NaN,NaN
11,L288BP,Personenauto,MERCEDES-BENZ,CLA 180,4614,stationwagen,0,178,245 G,0,NaN
12,35JXSF,Personenauto,MAZDA,MAZDA DEMIO,3136,stationwagen,382,0,NaN,NaN,NaN
13,DG0641,Personenauto,VOLVO,P 54404 A,NaN,Niet geregistreerd,0,0,NaN,NaN,NaN
14,K143PH,Personenauto,OPEL,CORSA-C,1790,hatchback,NaN,NaN,CORSA-C,NaN,NaN
15,39ZXS2,Personenauto,BMW,X REIHE,8585,stationwagen,448,0,X1,0,NaN
16,58PZNN,Personenauto,TOYOTA,TOYOTA AVENSIS,8448,stationwagen,0,0,NaN,NaN,NaN
17,AR3845,Personenauto,CHRYSLER,NEWPORT,NaN,sedan,NaN,NaN,NaN,NaN,NaN
18,V461DV,Bedrijfsauto,FORD,TRANSIT,10730,gesloten opbouw,553,206,FCD,0,NaN
19,DVV15P,Bromfiets,TIANYING,TY50QT-K,NaN,N.v.t.,189,0,TY50QT-K,0,NaN

In [29]:
df["class"]=df["max_load"].apply(lambda x: "unknown" if isinstance(x, float) else ("tmm < 3500 kg" if int(x)<3500 else "tmm >= 3500 kg"))
df.head()

,plate,kind,make,model,max_load,type,length,width,type,maximum_ondersteunende_snelheid,afwijkende_maximum_snelheid,class
0,L291BZ,Personenauto,MERCEDES-BENZ,CLA 180,469,sedan,0,178,245 G,0,NaN,tmm < 3500 kg
1,12SXKL,Personenauto,TOYOTA,TOYOTA COROLLA,4907,hatchback,0,0,NaN,NaN,NaN,tmm >= 3500 kg
2,XVRL78,Personenauto,VOLKSWAGEN,GOLF,5115,hatchback,0,0,NaN,NaN,NaN,tmm >= 3500 kg
3,83NSH1,Personenauto,PEUGEOT,207,2959,hatchback,403,0,W*****,NaN,NaN,tmm < 3500 kg
4,WZ76JZ,Aanhangwagen,SARIS,H,NaN,open wagen,0,159,NaN,NaN,NaN,unknown

In [32]:
df.describe()

,plate,kind,make,model,max_load,type,length,width,type,maximum_ondersteunende_snelheid,afwijkende_maximum_snelheid,class
count,25000,25000,24997,24868,16291,25000,21884,23161,15433,10123,7,25000
unique,25000,14,903,5842,7614,61,654,158,1672,7,1,3
top,L291BZ,Personenauto,VOLKSWAGEN,GOLF,500,hatchback,0,0,R,0,100,tmm >= 3500 kg
freq,1,15636,2451,585,65,6025,9815,16384,349,10035,7,8765

In [31]:
df.to_csv("../data/rdw.zip", 
           index=False, 
           compression="zip")