# Reads Netherlands vehicle owner data base
[opendata.rdw.nl](https://opendata.rdw.nl/Voertuigen/Open-Data-RDW-Gekentekende_voertuigen/m9d7-ebf2)

In [107]:
import requests
import json
import pandas as pd
size= 500
cursor = 0
df = pd.DataFrame()
count =0
while count<5: #this reads just size*5 times 
#while True: #this loads all of the data
    count = count+1
    url=f"https://opendata.rdw.nl/resource/m9d7-ebf2.json?$limit={size}&$offset={cursor}"
    response = requests.get(url)
    resp = response.json()
    items = pd.DataFrame(resp)
    df = pd.concat([df,items])
    print(f"offset: {cursor}\t, size: {size}\t, count:{count}")
    cursor += size
    if len(resp)==0:
        break

df.head()

offset: 0	, size: 500	, count:1
offset: 500	, size: 500	, count:2
offset: 1000	, size: 500	, count:3
offset: 1500	, size: 500	, count:4
offset: 2000	, size: 500	, count:5

,kenteken,voertuigsoort,merk,handelsbenaming,vervaldatum_apk,datum_tenaamstelling,inrichting,aantal_zitplaatsen,eerste_kleur,tweede_kleur,...,laadvermogen,aanhangwagen_autonoom_geremd,aanhangwagen_middenas_geremd,vervaldatum_tachograaf,vervaldatum_tachograaf_dt,type_gasinstallatie,oplegger_geremd,subcategorie_nederland,afwijkende_maximum_snelheid,aantal_staanplaatsen
0,46SZD4,Personenauto,PEUGEOT,PEUGEOT 107,20230103,20210706,hatchback,4,WIT,Niet geregistreerd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,XPVN19,Personenauto,FIAT,FIAT SEICENTO,20211223,20210107,hatchback,5,BLAUW,Niet geregistreerd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,57SXL7,Personenauto,SUZUKI,SWIFT,20221114,20181206,hatchback,4,GRIJS,Niet geregistreerd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,01NFJ7,Personenauto,VOLKSWAGEN,FOX,20220723,20180122,hatchback,4,WIT,Niet geregistreerd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,3ZKP89,Personenauto,VOLKSWAGEN,UP,20230116,20150116,hatchback,4,BLAUW,Niet geregistreerd,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
df.rename(columns={'kenteken': 'plate'}, inplace=True)
df.rename(columns={'merk': 'make'}, inplace=True)
df.rename(columns={'handelsbenaming': 'model'}, inplace=True)
df.rename(columns={'lengte': 'length'}, inplace=True)
df.rename(columns={'breedte': 'width'}, inplace=True)
df.rename(columns={'inrichting': 'type'}, inplace=True)
df.rename(columns={'voertuigsoort': 'kind'}, inplace=True)
df.rename(columns={'bruto_bpm': 'max_load'}, inplace=True)
df.rename(columns={'europese_voertuigcategorie': 'eu_class'}, inplace=True)

omit = ['vervaldatum_apk','datum_tenaamstelling','aantal_zitplaatsen','max_load','eerste_kleu','tweede_kleur',
        'aantal_cilinders','cilinderinhoud','aanhangwagen_autonoom_geremd','aanhangwagen_middenas_geremd','vervaldatum_tachograaf',
        'vervaldatum_tachograaf_dt','type_gasinstallatie','oplegger_geremd','afwijkende_maximum_snelheid','verticale_belasting_koppelpunt_getrokken_voertuig',
        'aantal_staanplaatsen','subcategorie_nederland','eerste_kleur','massa_ledig_voertuig','toegestane_maximum_massa_voertuig','massa_rijklaar',
        'maximum_massa_trekken_ongeremd','api_gekentekende_voertuigen_carrosserie_specifiek','api_gekentekende_voertuigen_voertuigklasse',
        'europese_voertuigcategorie_toevoeging','europese_uitvoeringcategorie_toevoeging','registratie_datum_goedkeuring_afschrijvingsmoment_bpm',
        'registratie_datum_goedkeuring_afschrijvingsmoment_bpm_dt','laadvermogen','maximum_last_onder_de_vooras_sen_tezamen_koppeling','maximale_constructiesnelheid',
        'hoogte_voertuig','maximum_trekken_massa_geremd','datum_eerste_toelating','datum_eerste_tenaamstelling_in_nederland','wacht_op_keuren',
        'catalogusprijs','code_toelichting_tellerstandoordeel','tenaamstellen_mogelijk','vervaldatum_apk_dt','datum_tenaamstelling_dt',
        'datum_eerste_toelating_dt','datum_eerste_tenaamstelling_in_nederland_dt','zuinigheidsclassificatie','api_gekentekende_voertuigen_assen',
        'api_gekentekende_voertuigen_brandstof','api_gekentekende_voertuigen_carrosserie','wam_verzekerd','aantal_deuren','aantal_wielen',
        'afstand_hart_koppeling_tot_achterzijde_voertuig','afstand_voorzijde_voertuig_tot_hart_koppeling','vermogen_massarijklaar','wielbasis',
        'export_indicator','openstaande_terugroepactie_indicator','taxi_indicator','maximum_massa_samenstelling','aantal_rolstoelplaatsen',
        'maximum_ondersteunende_snelheid','jaar_laatste_registratie_tellerstand','tellerstandoordeel','plaats_chassisnummer','technische_max_massa_voertuig','type',
        'typegoedkeuringsnummer','variant','uitvoering','volgnummer_wijziging_eu_typegoedkeuring']

for item in omit:
    try:
        df.drop(item, axis=1, inplace=True)
    except:
        pass
df.head(25)

,plate,kind,make,model,length,width,eu_class
0,46SZD4,Personenauto,PEUGEOT,PEUGEOT 107,345,0,M1
1,XPVN19,Personenauto,FIAT,FIAT SEICENTO,332,0,M1
2,57SXL7,Personenauto,SUZUKI,SWIFT,0,0,M1
3,01NFJ7,Personenauto,VOLKSWAGEN,FOX,383,0,M1
4,3ZKP89,Personenauto,VOLKSWAGEN,UP,0,0,M1
5,09PXX9,Personenauto,CITROEN,DS3,395,0,M1
6,16NRPR,Personenauto,FIAT,FIAT PANDA,354,0,M1
7,DBT44X,Bromfiets,KYMCO,PEOPLE S,0,0,L1
8,FBS96X,Bromfiets,LA SOURIS,SOURINI RS,189,67,L1
9,P403GB,Personenauto,HYUNDAI,TUCSON,450,187,M1
10,SK594H,Personenauto,FORD,FOCUS,0,0,M1
11,AM7966,Personenauto,FORD,GPW JEEP,NaN,NaN,M1
12,01JFPX,Personenauto,PEUGEOT,206,382,0,M1
13,5KGB39,Personenauto,FORD,FIESTA,0,0,M1
14,BT51GR,Bedrijfsauto,TOYOTA,HI-ACE COMMERCIAL,0,172,N1
15,33XVHX,Personenauto,PEUGEOT,308,428,0,M1
16,MX20YT,Motorfiets,HONDA,GT650 HAWK,0,0,L3
17,02JBHJ,Personenauto,FIAT,FIAT STILO,418,0,M1
18,49LXZ5,Personenauto,PEUGEOT,PEUGEOT 107,345,0,M1
19,14MRSH,Motorfiets,HARLEY DAVIDSON,VRSCA,NaN,NaN,L3
20,49XGD5,Personenauto,NISSAN,NISSAN QASHQAI,432,0,M1
21,57RPXL,Personenauto,SUZUKI,SWIFT,370,0,M1
22,06LKBD,Personenauto,TOYOTA,TOYOTA YARIS VERSO,0,0,M1
23,64PGN5,Personenauto,MINI,COOPER,372,0,M1
24,J078RS,Personenauto,SKODA,YETI,0,179,M1

In [109]:
df.describe()

         plate          kind        make model length width eu_class
count     2500          2500        2500  2487   2222  2282     2499
unique    2500            14         220  1093    268    95       21
top     46SZD4  Personenauto  VOLKSWAGEN  POLO      0     0       M1
freq         1          1668         245    55    988  1841     1667

In [110]:
df.to_csv("../data/rdw.zip", 
           index=False, 
           compression="zip")